    header{
        padding: 20px 0px;
        background-color: black;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        text-decoration: none;
        font-style:inter ;
        font-size: 20px;
        
    }


/* main */
/* making bg colour */
body {
  background-color: #767676;
}

.feature-section h2 {
    font-size: 30px; 
    margin-bottom: 10px; 
    margin-top: 80px; 
    text-align:center; 
}

.feature-section p {
    font-size: 18px; 
    margin-bottom: 20px;
    text-align: center;
}


.games-info{
    background-color: #0000006b;
    width: 272px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius:10px;
    margin-top: 80px;
    gap: 20px;
}



.item-1{
    display: flex;
    flex-direction: row;
    gap: 145px;
}
/* .pic img{
    width: 70px;
    height: 50px;
}



.pic img img {
width: 100%;
height: 100%;
} */

.item-2{
    display: flex;
    flex-direction: row;
    gap: 138px;
}
.item-3{
    display: flex;
    flex-direction: row;
    gap: 142px;
}
.item-5{
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size:10px ;
}
.line-container {
    border: none;
    border-top: 1px solid #fff;  /* White line with 2px thickness */
    width: 100%;
}
.status-btn{
background-color:#767676;
color: #fff;
font-size: 12px;
padding: 5px;
border-radius: 12px;
text-align: center;
width: 44px;
height: 22px;

}

.box-final{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.box-final-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.status-btn-2{
background-color:red;
color: #fff;
font-size: 12px;
padding: 5px;
border-radius: 12px;
text-align: center;
width: 80px;
height: 22px;
}
