    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
        
    }
    .container {
        max-width: 1024px;
        margin: auto;
    }
    a{
        text-decoration: none;
    }