    header{
        padding: 20px 0px;
        background-color: black;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        text-decoration: none;
        font-style:inter ;
        font-size: 20px;
        
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
        z-index: 0; /* Ensure the overlay is above the image */
    }
        
    .bg-image {
        width: 100%;
        height: 87vh; /* Full viewport height */
        overflow: hidden;
        object-fit: cover; /* Ensure the image covers the area without distortion */
    }
    

    

    .live-btn{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 18px;
    background-color: gray;   /* red background */
    color: white;

    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid red;

    position: absolute;

    bottom: 596px;
    left: 300px;
    /* padding: 10px 18px; */

    /* text-decoration: none;
    cursor: pointer;

    /* box-shadow: 0 6px 15px rgba(255, 59, 59, 0.4);
    transition: all 0.3s ease; */ 
}

.w{
    /* position: absolute;
    bottom: 590;
    left: 300px;

    font-size: 14px;
    font-weight: 600; */



    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    color: white;

    position: absolute;

    bottom: 528px;
    left: 300px;

}

.ww{
    
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    color: white;

    position: absolute;

    bottom: 510px;
    left: 300px;


}
.s{
     border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 460px;
    left: 300px;


}

.ss{
     border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 440px;
    left: 300px;


}

.watch-btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 10px 18px;
    background-color:red;   /* red background */
    color: white;

    border-radius: 15px;
    /* font-size: 14px;
    font-weight: 600; */
    /* border: 2px solid red; */
    border: 0px;

    position: absolute;

    bottom: 377px;
    left: 300px;
}

.view-btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 10px 18px;
    background-color:gray;   /* red background */
    color: white;

    border-radius: 15px;
    /* font-size: 14px;
    font-weight: 600; */
    /* border: 2px solid red; */
    border: 0px;

    position: absolute;

    bottom: 377px;
    left: 450px;

}

.game{
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;

    position: absolute;

    bottom: 328px;
    left: 300px;


}
.point{
     border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 302px;
    left: 310px;


}
.vs{
     border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color: red;

    position: absolute;

    bottom: 313px;
    left: 370px;
}

.game-1{
    border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 328px;
    left: 425px;

}

.point-2{
    border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 302px;
    left: 430px;
}
.game-2{
    border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 328px;
    left: 500px;

}
.pointer-3{
    border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;

    position: absolute;

    bottom: 302px;
    left: 495px;
}




@media (max-width: 768px) {
    header {
        padding: 0 20px;  /* Reducing the padding to fit the screen */
    }
}


