    header{
        padding: 20px 0px;
        background-color: black;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        text-decoration: none;
        font-style:inter ;
        font-size: 20px;
        
    }


/* main */
/* making bg colour */
body {
  background-color: #767676;
}

.feature-section h2 {
    font-size: 30px; 
    margin-bottom: 10px; 
    margin-top: 80px; 
    text-align:center; 
}

.feature-section p {
    font-size: 18px; 
    margin-bottom: 20px;
    text-align: center;
}


/* Info and Box Alignment */
.container-1{
display: flex;
flex-direction: column;
}


.img {
width: 300px;
height: 330px;
}


.img img {
width: 100%;
height: 100%;
border-radius: 10px 10px 0px 0px;
margin-top: 80px;
}

/*  */
.box-f{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.news-info{
    background-color: #0000006b;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 80px;
    gap: 20px;
}
/* .fst-info{
    gap: 10px;
    color:#767676; ;

} */
.rm p{
    color: red;
}
.des p{
    color: #767676;
    font-size: small;
    
}
.upcoming p{
background-color: red;
color: #fff;
font-size: 12px;
padding: 5px;
border-radius: 12px;
text-align: center;
width: 70px;
height: 25px;

}