    header{
        padding: 20px 0px;
        background-color: black;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        text-decoration: none;
        font-style:inter ;
        font-size: 20px;
        
    }


/* main */
/* making bg colour */
body {
  background-color: #767676;
}

.feature-section h2 {
    font-size: 30px; 
    margin-bottom: 10px; 
    margin-top: 80px; 
    text-align:center; 
}

.feature-section p {
    font-size: 18px; 
    margin-bottom: 80px;
    text-align: center;
}

/* .s-img{
        width: 300px;
        height: 500px;
}
.s-img img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    
        margin-top: 80px;
}


.player-info ,box {
background-color: #444444; 
width: 300px;
height: 500px;
display: flex;
flex-direction: row;

} */
/* Image */
.s-img {
width: 300px;
height: 500px;
}


.s-img img {
width: 100%;
height: 100%;
border-radius: 10px 0px 0px 10px;
margin-top: 80px;
}


/* Player Info and Box Alignment */
.container {
display: flex;
flex-direction: row;
}


.player-info {
background-color: #0000006b;
width: 300px;
height: 500px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 10px;
border-radius: 0px 10px 10px 0px;
margin-top: 80px;
}


/* .box {
padding: 20px;
border-radius: 0px;
display: flex;
flex-direction: column;
gap: 10px;
} */


/* Player Name, Team, and Position */
.player-info h2,
.player-info p {
color: white;
margin: 5px ;
}


.player-info h2 {
font-size: 24px;
font-weight: bold;
}


.player-info p {
font-size: 18px;
}


/* Buttons */
.view-profile-btn {
background-color: #FF4C4C;
color: white;
border: none;
padding: 10px;
width: 100%;
margin-top: 15px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}


.view-profile-btn:hover {
background-color: #FF2C2C;
}