* {
     color: black;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 /* header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: burlywood;
     padding: 10px 20px;
 } */

 header{
    background-color: aqua;

 }
 header.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

 }
 nav {
     display: flex;
     flex-direction: row;
     gap: 40px;
 }

 .container{
    max-width: 1020px;
    margin: 0px auto;
 }

 .hero{
    background-color: rgb(243, 255, 240);
    padding: 50px, 0px;
 }

.image-container{
    height: 100px;
    width: 200px;
}
.image-container img{
    width: 100%;
    height: 100%;
}
.hero.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}