    header{
        padding: 20px 0px;
        background-color: black;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        text-decoration: none;
        font-style:inter ;
        font-size: 20px;
        
    }


/* main */
/* making bg colour */
body {
  background-color: #767676;
}

.feature-section h2 {
    font-size: 30px; 
    margin-bottom: 10px; 
    margin-top: 80px; 
    text-align:center; 
}

.feature-section p {
    font-size: 18px; 
    margin-bottom: 40px;
    text-align: center;
}


.s-img {
width: 300px;
height: 500px;
}


.s-img img {
width: 100%;
height: 100%;
border-radius: 10px 0px 0px 10px;
margin-top: 80px;
}


/* Player Info and Box Alignment */
.container {
display: flex;
flex-direction: row;
}

/* Stephen Curry */
.player-info {
    background-color: #0000006b;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 80px;
    gap: 10px;
}

.player-info h2 {
font-size: 24px;
font-weight: bold;
}

.team {
font-size: 20px;
color: rgb(255, 49, 49);
}
.pg{
    font-size: 16px;
    color: #767676;
}
.ppg{
    background-color: #767676;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.apg{
    background-color: #767676;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.rpg{
    background-color: #767676;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}


.view-profile-btn {
background-color: #FF4C4C;
color: white;
border: none;
padding: 10px;
width: 200px;
height: 55px;
margin-top: 15px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
} 


.view-profile-btn:hover {
background-color: #FF2C2C;
}


/* Kobe Bryant */


.player-info-2{
    background-color: #0000006b;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 80px;
    gap: 10px;
}

.player-infoh2-2 {
font-size: 24px;
font-weight: bold;
}

.team-2 {
font-size: 20px;
color: rgb(255, 49, 49);
}
.pg-2{
    font-size: 16px;
    color: #767676;
}
.ppg-2{
    background-color: #767676;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.apg-2{
    background-color: #767676;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.rpg-2{
    background-color: #767676;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}


.view-profile-btn-2 {
background-color: #FF4C4C;
color: white;
border: none;
padding: 10px;
width: 200px;
height: 55px;
margin-top: 15px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
} 


.view-profile-btn.hover-2 {
background-color: #FF2C2C;
}

/* player */
.player-f{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

