    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    /* .container {
        max-width: 1024px;
    } */
    /* .bg-img{
        width: 100%;
        height: 100%;
        object-fit: ;
    } */


    .main{
        position: relative;
    }
    
    
    .bg-image {
        width: 100%;
        height: 87vh; /* Full viewport height */
        overflow: hidden;
        object-fit: cover; /* Ensure the image covers the area without distortion */
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
        z-index: 0; /* Ensure the overlay is above the image */
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        align-items: center;
        padding: 0 300px;
    }
    .name{
        display:flex;
        align-items: center;
        gap:10px ;
    }
    .logo-name{
        color: white;
        font-weight: 700;
        font-size:18px ;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        /* padding-right: 40px; */
    }
    nav a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-style: inter ;
    }